body {
  margin: auto;
  background-image:url(image1.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.content {
  display: flex;
  padding: 80px 10%;
  justify-content: space-between;
  color: #FFF;
}

.hero-info p {
  margin: 30px 0;
  font-weight: 400;
  line-height: 2;

}


/* Content */

ul
{
 list-style-type: none;
 position: fixed;
 margin: 0;
 padding: 0;
 width: 100%;
 overflow: hidden;
 background-color: #000000;
 
}

li 
{
    float: right;
    text-align: center;
}

li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    
  }

  li a:hover:not(.follio) {
    background-color: rgb(255, 255, 255);
    color: black;
    font-size:  20px;
  }

.contenu
{
color: #ffffff;
margin-top: 20%;
margin-left: 10%;
}
